@use '../../css/base';
@media (min-width: base.$md) {
	.layout {
		display: flex;
		background-color: white;
		justify-content: center;
		align-items: center;
		.images {
			display: flex;
			flex-direction: column;
			padding: 3em;
		}
		.login-form {
			// outline: 1px solid red;
			display: flex;
			flex-direction: column;
			background: #ffffff;
			box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
			height: 100vh;
			width: 50%;
			justify-content: center;
			padding: 0 6em;
			.title {
				margin-bottom: 20px;
				h1 {
					font-weight: 700;
					font-size: 40px;
					line-height: 55px;
					color: #213f7d;
				}
				p {
					font-weight: 400;
					font-size: 20px;
					line-height: 27px;
				}
			}
			form {
				display: flex;
				flex-direction: column;
				gap: 25px;
				div {
					width: 100%;
					position: relative;
					display: flex;
					input {
						width: 100%;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						color: #545f7d;
					}
					p {
						position: absolute;
						right: 4%;
						top: 40%;
						font-weight: 600;
						font-size: 12px;
						line-height: 16px;
						color: base.$primary-color;
					}
				}
				input {
					background: #ffffff;
					border: 2px solid rgba(84, 95, 125, 0.15);
					border-radius: 5px;
					padding: 1.2em;
					color: #545f7d;
					font-weight: 400;
					font-size: 14px;
					line-height: 19px;
					// width: 350px;
					&::placeholder {
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
					}
				}
				h5 {
					font-weight: 600;
					font-size: 12px;
					line-height: 16px;
					color: base.$primary-color;
				}
				button {
					background-color: base.$primary-color;
					border: none;
					outline: none;
					color: white;
					border-radius: 8px;
					font-weight: 600;
					font-size: 14px;
					line-height: 19px;
					padding: 1em 0;
					cursor: pointer;
				}
			}
		}
	}
}
