@use '../../css/base';

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
}

@media (min-width: base.$md) {
	.sidebar {
		.version {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			margin-top: 20px;
			padding-left: 1em;
			padding-bottom: 1em;
		}
		.logout {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			padding-left: 1em;
			padding-top: 1em;

			h6 {
				margin: 10px;
			}
		}
		.link-list {
			border-bottom: 1px solid rgba(33, 63, 125, 0.1);
			.container-link:last-child {
				margin-bottom: 50px;
			}
			.opacity {
				opacity: 0.6;
			}
			.active {
				background-color: #39cdcd1d;
				border-left: 2px solid base.$primary-color;
				opacity: 1 !important;
			}

			.dashboard-link {
				display: flex;
				align-items: center;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				padding-left: 1em;

				h6 {
					margin: 20px;
				}
			}
			.container-link {
				margin-top: 20px;
				.title {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					padding-left: 1em;
					padding-bottom: 1em;
				}

				.content {
					display: flex;
					align-items: center;
					font-weight: 400;
					font-size: 16px;
					line-height: 19px;
					padding-left: 1em;
					opacity: 0.6;
					h6 {
						margin: 12px;
					}
				}
			}
			.switch {
				display: grid;
				grid-template-columns: max-content max-content max-content;
				align-items: center;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				padding-left: 1em;
				padding-right: 1.5em;
				padding-top: 1em;
				margin-top: 10px;
				margin-bottom: 10px;

				h6 {
					margin: 10px;
				}
			}
		}
	}
}
